body{
    margin: auto;
    font-family: 'Lato', sans-serif;
}
.add_pokemon{
    margin-left: 10%;
    margin-right: 10%;
}

.file{
    font-size: 14px;
}

.img{
    font-size: 20px;
}

.titreADD{
    text-align: center;
    padding-top: 3.5%;
    padding-bottom: 1.5%;
}

.titreConnexion{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
}


.nom,.pv, .attaque, .défense, .vitesse, .ajouter {
    border-radius: 4px;
    border: 1px solid;
    border-color: grey;
    font-size: 20px;
}

.file{
    padding-left: 5px;
}

::placeholder{
    color: #626978;
}
.nom, .pv, .attaque, .défense, .vitesse {
    display: inline-block;
    width: 100%;
    padding: 16px;
    margin-bottom: 10px;
}
.ajouter{
    border: hidden;
    color: white;
    width: 102.1%;
    padding: 16px;
    background-color: #4CAF50;
    font-size: 20px;
}

.ajouter:hover{
    opacity: .9;
}
.error {
    color: red;
}

.success {
    color: lawngreen;
}
.allpokemonTitre{
        text-align: center;
        padding-top: 50px;
}
.container_connexion{
    display: flex;
    justify-content: center;
}

.emailConnexion, .passwordConnexion, .nicknameInscription, .emailInscription, .passwordInscription, .boutonConnexion, .boutonInscription{
    display: inline-block;
    width: 91.5%;
    padding: 16px;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid;
    border-color: grey;
    padding-right: 0%;
}

.boutonInscription, .boutonConnexion{
    width: 94.5%;
    background-color: #4CAF50;
    color: white;
    border: hidden;
}


.boutonConnexion:hover, .boutonInscription:hover{
    opacity: .9;
}

input{
    margin: 10px;
}


.profilImg{
    font-size: 20px;
}


h2, p{
    padding-left: 10px;
}

.fileInscription{
    margin: 0;
}

h2{
    margin-top: 25px;
}

.connexion{
    border: 1px solid;
    border-color: grey;
    width: 49%;
    margin-right: 1%;
    height: 55%;
    padding: 0.5%;
    padding-bottom: 20px;
    margin-left: 15%;
}

.inscription{
    border: 1px solid;
    border-color: grey;
    padding-top: 0px;
    width: 49%;
    margin-left: 1%;
    padding: 0.5%;
    padding-bottom: 20px;
    margin-right: 15%;

}
.img{
	text-align: left;
    margin: 0;
}
.pikachu{
    padding : 50px;
    width: 353px;
}

.myaccountTitre{
    text-align: center;
    padding-top: 50px;
}

.infos{
    border-bottom: 1px solid;
    border-color: grey;
}

.container-account{
    padding-left: 200px;
    padding-right: 200px;

}

.infos{
    padding-top: 20px;
    padding-bottom: 100px;
}

.mypokemons{
    padding-top: 20px;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color:  #AAA;
    color: #FFF;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}
.logo {
    display: inline-block;
}
.navigation{
    align-self: center;
}
.navigation a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    padding: 0.5em;
}
.navigation a:hover{
    text-decoration: underline;
}